<!DOCTYPE html>
<html>
<head>
	<title>Node Master</title>
	<style media="screen">

	</style>
	<div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel="stylesheet" type="text/css" href="http://davidtkatz.com/public_css/vue.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<!-- JS, Popper.js, and jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	</div>
</head>
<body>
  <div id="app">
		<h1>{{Heading}}</h1>
		<div class="form">
			<div class="form-group">
				<div class="form-group">
					<label>Note Title</label>
					<input class="form-control" v-model='note.title'type="text" name="" value="">
				</div>
				<div class="form-group">
					<label>Note text</label>
					<textarea class="form-control" v-model='note.text'name="name" rows="8" cols="80"></textarea>
				</div>
			</div>
		</div>
		<button class="btn btn-primary" @click='addNote'type="button" name="button">submit</button>
		<div class="col-sm-12">
			<div class="col-sm-4 note" v-for='(note, index) in notes'>
				<div class="card">
					<button class="close" @click='removeNote(index)'>&times;</button>
					<div class="card-block">
						<h4 class="card-title">{{note.title}}</h4>
						<h6 class="card-subtitle mb-2 text-muted">{{note.date}}</h6>
						<p class="card-text">{{note.text}}</p>
					</div>
					<pre>{{$notes | json}}</pre>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">

  var app = new Vue({
		el:`#app`,
		data:{
			Heading:`Note Master`,
			note:{
				title:``,
				text:``
			},
			notes:[]
		},
		methods:{
			addNote(){
				let {text, title} = this.note
				if(text.length !=0 && title.length != 0){
				this.notes.push({
					text,
					title,
					date: new Date(Date.now()).toLocaleString()
				})}else{
					alert(`Fill the title and note`)
				}
			},
			removeNote(index){
				this.notes.splice(index, 1)
			}
		}
	})

</script>
</body>
</html>
